*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

figure {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

li,
ul {
  list-style: none;
  padding: 0;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PX Bold", sans-serif;
  font-weight: 600;
}

a {
  color: #36f;
  font-weight: 700;
}

body {
  color: #000;
  /* font-size: 1.6rem; */
  -webkit-font-smoothing: antialiased;
  overflow-wrap: break-word;
  /* background-color: #f7f7f7; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* Helpers */

.center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column {
  -ms-flex-preferred-size: 300px !important;
  flex-basis: 300px !important;
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
  -ms-flex-negative: 1 !important;
  flex-shrink: 1 !important;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header {
  height: 110px;
  margin: 0 auto;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 30;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #f3f5fb;
}

.wrap-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f3f5fb;
}

.info-started {
  background-color: #f3f5fb;
}

.header-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar {
  background: none !important;
}

.hero {
  text-align: center;
}

.hero.is-info {
  background-color: #36f !important;
}

.hero.is-info .title {
  color: #fff !important;
}

.section {
  padding: 80px 0 !important;
}

.title {
  color: #000 !important;
  font-family: "PX Bold";
}

.title.title--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.title.title--alter,
.title.title--section {
  line-height: 1.15;
  letter-spacing: 0.05rem;
  font-weight: 600;
  font-family: "Px Bold";
}

.subtitle.subtitle--alter {
  color: rgba(0, 0, 0, 0.6);
}

.hero-footer {
  padding: 30px 0;
  color: rgba(0, 0, 0, 0.6);
  background-color: #f3f5fb;
}

.logo a {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo h4 {
  font-weight: 700;
  margin-left: 10px;
  color: #36f;
  font-family: "Poppins";
}

.divider-waves {
  position: relative;
  top: 90px;
}

.last-projects {
  background-color: #fff;
}

.grid-projects,
.getting-started {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.icon-section {
  -webkit-box-shadow: 0 0 0 10px rgba(77, 92, 241, 0.05);
  box-shadow: 0 0 0 10px rgba(77, 92, 241, 0.05);
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 18px;
  background-color: rgba(74, 135, 226, 0.17);
  border-radius: 100%;
  color: #36f;
  display: inline-block;
  font-style: normal;
  text-align: center;
  margin-right: 20px;
}

.icon-section i {
  height: 60px;
  line-height: 60px;
  width: 60px;
  font-size: 22px;
  margin: 0 15px 0 0;
}

.getting-started .icon-section {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  color: #fff;
  background-color: #36f;
}

.colab {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f3f5fb;
}

.colab h2 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.colab p {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 600;
}

.colab-name {
  color: #fff;
}

.colab .left {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.colab .right {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-item-align: center;
  align-self: center;
}

.colab a {
  height: 80px;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #36f;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 24px;
  -webkit-box-shadow: rgba(65, 60, 77, 0.1) 0px 1rem 1.5rem,
    rgba(65, 60, 77, 0.05) 0px 0px 2rem;
  box-shadow: rgba(65, 60, 77, 0.1) 0px 1rem 1.5rem,
    rgba(65, 60, 77, 0.05) 0px 0px 2rem;
}

.colab svg {
  width: 3rem !important;
  height: 3rem;
  margin-right: 2.6rem;
  color: #fff;
}

.bd-focus-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bd-focus-item .icon-section {
  margin-bottom: 30px;
}

h4.title.title--section {
  margin-bottom: 3rem;
}

.sidebar {
  max-width: 350px;
  min-width: 350px;
}

.filter-itens {
  margin-bottom: 1rem;
}

.tag.is-default {
  background: #f1f5f7;
  border-radius: 2rem;
  padding: 5px 20px;
}

.tag.is-normal {
  font-weight: 700;
  color: #000;
}

/* Tables */

table.functions-list {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
}

table.functions-list .td-name {
  width: 45%;
  font-weight: 700;
}

table.functions-list .td-description {
  width: 55%;
}

table.functions-list td {
  padding: 16px 20px;
  display: block;
  float: left;
  border: none;
}

table.functions-list tr {
  border: rgba(0, 0, 0, .125) solid 1px;
}

table.functions-list tr:hover {
  background-color: rgba(74, 135, 226, 0.17);
  border: #36f 1px solid;
}

.content table tbody tr:last-child td,
.content table tbody tr:last-child th {
  border-bottom-width: 1px;
}

.navigate-page .pagination-link,
.pagination-next,
.pagination-previous {
  border-color: rgba(0, 0, 0, .125) !important;
  color: rgba(0, 0, 0, .125) !important;
}

.navigate-page .pagination-link.is-current {
  background-color: #36f;
  border-color: #36f;
  color: #fff !important;
}

.navigate-page .pagination-link:hover {
  background-color: #36f;
  border-color: #36f;
  color: #fff !important;
}

.accordion .card {
  border: 1px solid rgba(0, 0, 0, .125);
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 5px 20px;
  display: block;
  color: #000;
  text-decoration: none;
}

.accordion .card-header {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.accordion .card-header-title {
  padding: 0;
  color: #000;
}

.version {
  background: none !important;
  color: #000;
  width: 100%;
  border: rgba(0, 0, 0, .125) solid 1px;
  border-radius: 0 !important;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
